@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Antonio", sans-serif;
    font-weight: 600;
    background-color: #364042;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #49D3F0;

}
.container{
    width: 90%; /* Usa un porcentaje para el ancho */
    max-width: 600px; /* Limita el ancho máximo para evitar que el contenido se extienda demasiado */
    padding: 20px;
    border: 2px solid #49D3F0;
    border-radius: 20px;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}
h2 {
    padding-left: 5%;
    padding-bottom: 1%;
    color: #49D3F0;
    text-align: left;
}
.input-field {
    position: relative;
    margin-top: 2.7vh;
}
.input-field input[type="text"] {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 48px; /* Altura fija para una apariencia consistente */
    border-radius: 24px; /* Redondear las esquinas */
    font-size: 16px; /* Tamaño de fuente razonable */
    padding: 12px 20px; /* Espaciado interior */
    border: 2px solid #49D3F0; /* Borde sólido */
    background-color: transparent; /* Fondo transparente */
    color: #49D3F0; /* Color de texto */
    outline: none; /* Eliminar borde de enfoque */
    box-sizing: border-box; /* Incluir el borde en el tamaño total */
    margin-bottom: 16px; /* Espacio inferior entre los campos */
}
/*label ID*/
.input-field .lblIDCurso{
    position: absolute;
    top: 5%;
    left: 30px;
    transform: translateY(-50%);
    color: #49D3F0;
    font-size: 16px;
    transition: .3s;
    z-index: -1;
}
.inputIDCurso:focus~.lblIDCurso,
.inputIDCurso:valid~.lblIDCurso{
    top:-3%;
    left: 30px;
    font-size: 16px;
    background: #364042;
    z-index: 1;
}
.input-field .inputNumAlumnos {
    margin-top: 20px; /* Ajusta este valor según sea necesario para aumentar la separación */
}
/*label NUMERO DE ALUIMNOS*/
.input-field .lblNumeroAlumnos{
    position: absolute;
    top: 27%;
    left: 30px;
    transform: translateY(-50%);
    color: #49D3F0;
    font-size: 16px;
    transition: .3s;
    z-index: -1;
}
.inputNumAlumnos:focus~.lblNumeroAlumnos,
.inputNumAlumnos:valid~.lblNumeroAlumnos{
    top:19%;
    left: 30px;
    font-size: 16px;
    background: #364042;
    z-index: 1;
}
/*COMBO BOX NIVEL | LETRA ::*/
select{
    color:#49D3F0; /*COLOR DEL COMBOBOX*/
    background-color: #364042;
    border: 0.5px solid #ccc;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    margin-top: 25PX;
    border-radius: 20px;
    height: 6vh;
    border: 2px solid #49D3F0;
}
/* ---------------------------------------- */
/* BOTONES */
.buttons{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
}
/*CRUD*/
.btnCRUDD {
    background-color: #49D3F0;
    color: #364042;
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    margin: 0 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-family: "Antonio", sans-serif; /* Agregar la misma tipografía */
}
.btnCRUDD:hover {
    transform: translateY(-3px);
}
/* BOTON VOLVER MAS SU ANIMACION*/
.btnVolver{
    position: absolute;
    bottom: 4%;
    right: 2%;
}
.-btnVolver{
    background:#49D3F0;
    color: #364042;
    border-radius: 50px;
    transition: transform 0.3s ease;
}
.btn {
    text-decoration: none;
    padding: 16px 16px;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    margin: 32px;
}
.-btnVolver::after,
.-btnVolver::before{
    content: "";
    position: absolute;
    opacity: .3;
    background: #49D3F0;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}
.-btnVolver:hover {
    transform: translate(-12px, -12px);
}

.-btnVolver:hover::after{
    transform: translate(6px,6px);
}

.-btnVolver:hover::before{
    transform: translate(12px, 12px);
}
/*Buscador*/
.input-field2 {
    position: relative;
    margin-bottom: 16px; /* Espacio inferior entre los campos */
}

.input-field2 input[type="text"] {
    top: 1px;
    width: 600px; /* Ocupa todo el ancho disponible */
    height: 48px; /* Aumenta la altura */
    border-radius: 24px; /* Redondear las esquinas */
    font-size: 16px; /* Tamaño de fuente razonable */
    padding: 12px 20px; /* Espaciado interior */
    border: 2px solid #49D3F0; /* Borde sólido */
    background-color: transparent; /* Fondo transparente */
    color: #49D3F0; /* Color de texto */
    outline: none; /* Eliminar borde de enfoque */
    box-sizing: border-box; /* Incluir el borde en el tamaño total */
    position: relative; /* Asegurarse de que el pseudo-elemento se posicione correctamente */
}


.input-field2 .lblBuscar {
    position: absolute;
    top: 20%; /* Ajusta la posición vertical según sea necesario */
    left: 30px; /* Ajusta la posición horizontal según sea necesario */
    transform: translateY(-50%);
    color: #49D3F0;
    font-size: 16px;
    transition: .3s;
    z-index: -1;
}
.inputBuscar:focus ~.lblBuscar,
.inputBuscar:valid ~.lblBuscar{
    top:-10%;
    left: 30px;
    font-size: 16px;
    background: #364042;
    z-index: 1;
}


/* Tabla */
#tabla-curso {
    position: relative;
    right: 1%;
    top: 86%; /* Ajusta este valor para mover la tabla hacia arriba */
    border-collapse: collapse;
    width: 0%; /* Ancho de la tabla */
    margin-top: 20px;
    margin-left: 10%;
}

#tabla-curso th, #tabla-curso td {
    border: 1px solid #49D3F0;
    padding: 10px;
    text-align: left;
}

#tabla-curso tr:nth-child(even) {
    color: #49D3F0;
    background: transparent;
}