:root {
    --color-green: #00a878;
    --color-red: #fe5e41;
    --color-button: #fdffff;
    --color-black: #000;
}
.tipo-contrato {
    display: inline-block;
}
.tipo-contrato .tipo-button__checkbox {
    display: none;
}
.tipo-contrato .tipo-button__label {
    background-color: var(--color-red);
    width: 5rem;
    height: 3rem;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
}
.tipo-contrato .tipo-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-black);
}
.tipo-contrato .tipo-button__checkbox:checked + .tipo-button__label {
    background-color: var(--color-green);
}
.tipo-contrato .tipo-button__checkbox:checked + .tipo-button__label:before {
    transform: translateX(2rem);
}